<html>
    <head>
        <title>Solution</title>
        <link rel="stylesheet" href="{{ url_for('static', path='/style.css') }}">
    </head>
    
    <body>

    <!--Header-->
    <header>
        <div class="menu-toggle" onclick="toggleSidebar()">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <div class="logo"><a href="https://sgp1979.github.io/website/">
            <img src="{{url_for('static', path='/Logo.jpg')}}" width="40" alt="Logo"></a></div>
        <div class="brand">SGP1979</div>
        <div class="header-home"><a href="https://sgp1979.github.io/website/">Home</a></div>
    </header><!--end of Header-->

    <!--Sidebar Contents-->
    <div class="sidebar" id="sidebar">
        <div class="sidebar-title">Contents</div>
    
        <nav>
            <ul>
                <li><a href="https://fastapi-00hm.onrender.com/main">Solver</a></li>
                <li><a href="https://sgp1979.github.io/website/">Home</a></li>
            </ul>
        </nav>  
    
        <!--JavaScript to toggle the sidebar-->
        <script>
            function toggleSidebar(){
                var sidebar = document.getElementById("sidebar");
                var content = document.querySelector("main");
                sidebar.classList.toggle("show-sidebar");
                content.classList.toggle("show-main");
            }
        </script>
    </div><!--end of Sidebar Contents-->
    
    <!--Main-->
    <main>
        
        <h3 style="color:black"> Coefficients entered: </h3>
        <ul>
            <li>a = {{a}}</li>
            <li>b = {{b}}</li>
            <li>c = {{c}}</li>
        </ul>

        <h3 style="color:black"> Equation Solved: </h3>
        <p><t>&emsp; ({{a}})x<sup>2</sup> + ({{b}})x + ({{c}}) = 0 </p>
        
        <h3>Solution Roots:</h3>
        <h3>&emsp; {{roots}}</h3>

        {% if roots == [] %}
            <h3>{{feedback}}</h3>
        {% endif %}

        <img src="data:image/png;base64, {{picture}}" alt="plot">

    </main><!--end of Main-->

    <footer class="relative">
        <p class="copyright">&copy; SGP1979 &nbsp;&nbsp; info@sgp1979.com &nbsp;&nbsp;
            <a target="_blank" href="https://github.com/sgp1979";>
                <img src="{{url_for('static', path='/GitHub.png')}}" width="18" alt="GitHub"></a>
            <a target="_blank" href="https://www.sgp1979.com";>
                <img src="{{url_for('static', path='/Google.png')}}" width="18" alt="Google"></a></p>
        </p>
    </footer>
        
    </body>
</html>

